

<footer class="footer">

  <small>
    <a href="http://railstutorial.org/">Viva Lima</a>
    por Javier Revilla
  </small>

  <nav>
    <ul>
      <li><%= link_to "Quiénes somos",    about_path   %></li>
      <li><%= link_to "Contáctanos",      contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>

</footer>